<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Customer Records</a>
    </div>
    <ul class="nav navbar-nav">
      <li >
        <a routerLink="get" class="nav-link" routerLinkActive="active">
          Customers
        </a>
    </li>
      <li>
        <a routerLink="add" class="nav-link" routerLinkActive="active">
          Add Customer
        </a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
